<div class="container">
  <h1 id="list-title">Your Lists<span id="point">.</span></h1>

  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class: "link" do %>
        <h3><%= list.name %></h3>
      <% end %>
    <% end %>
  </div>

  <h2 id="list-subtitle">Add a list</h2>
  <div class="btn-wrapper"><%= link_to "+", new_list_path, class:"btn-list"%></div>
  </div>

</div>
