// Specific CSS for your home-page

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 40px;
}

.movie {
  text-align: center;
  width: 200px;
}

.movie-title {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: white;
  z-index: 2;
  text-align: start;
  padding: 0 10px;
  margin-left: 10px;
  font-weight: 600;
}
