.content {
  display: flex;
  margin-top: 40px;
}

.content-text {
  flex-direction: column;
  margin-left: 30px;
  h1 {
    font-weight: 500;
  }
  p {
    margin-top: 15px;
  }
}

.image-description {
  width: 300px;
  height: 400px;
  border-radius: 30px;
}

@media (max-width: 550px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }

  .content-text {
    margin-left: 0px;
    margin-top: 20px;
    width: 300px;
  }
}
