.form {
  background: $light-black;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  width: 500px;
  gap: 1rem;
}

@media (max-width: 550px) {
  .form {
    width: 300px;
  }
}
